html, body{
	text-align: initial;
	background-color:#fbfbfb;
  font-family: 'Latin Modern Roman', 'Courier', Courier, monospace;
  font-size: 18px;
  max-width: 600px;
  margin: auto;
}

html{
	height:100%;
}

p{
	padding-top:0.2em;
  font-family: inherit;
  color: #3c3c3c;
}

.header a, .footer a{
  font-family: 'Latin Modern Mono', 'Courier', Courier, monospace;
  color: inherit;
  text-decoration: none;
}

.container a{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #b5b5b5;
  transition: border-bottom 0.3s ease 0.01s;
}
.container a:hover{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #444;
 
}

.header{
  margin-top: 2rem;
}

.container{
	margin-top: 5rem;
	margin-bottom: 5rem;
	padding-top:5%;
	padding-bottom:5%;
	border:2px #585858;
	border-radius:1em;
	line-height: 1.5em;
	font-size:1.2em;
	width:95%;
	max-width:46em;
}

.separator{
  background: #444;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(#ccc), to(rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), #444, rgba(255,255,255,0));
  background: linear-gradient(to right, rgba(255,255,255,0), #444, rgba(255,255,255,0));
  height: 1px;
  margin: 2em 0;
}

.footer {
  margin-top: 50px;
  color: #777;
  text-align: center;
}
.sm-list{
	display: table;
  margin: 0 auto;
}
.sm-list li:first-of-type{
  margin-left: 0px;
}
.sm-list li{
  float: left;
  margin: 0 5px;
  list-style: none;
}
ul li{
  word-wrap: break-word;
}


