---
---
<!DOCTYPE html>
<html>
	<head>
		<meta name="author" content="Allan Perez">
		<meta name="description" content="Allan Perez">
		<meta name="robots" content="index, follow">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="icon" href="imgs/favicon.ico" type="image/png">

    	<!-- Custom Fonts -->
    	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

      <link rel="stylesheet" href="assets/fonts/style/latinmodern-mono.css" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="assets/fonts/style/latinmodern-roman.css" type="text/css" charset="utf-8">


    	<link href="assets/css/main.css" rel="stylesheet" type="text/css">
    	<title>{{ page.title }}</title>
	</head>

	<body>
		{% if page.header %}
		{% else %}
      <div class="header">
        <a href="" ><span style='font-size:30px;'>&#8592;</span> Home</a>
      </div>
    {% endif %}
		<div class="container">
    	{{ content }}
		</div>
    {% if page.header %}
		{% else %}
      <div class="footer">
        <div class="separator"> </div>
        <ul class="sm-list"> 
          <li>
            <a href="/feed.xml" title="">&#128400; Instagram </a>
          </li> 
          <li>
            <a href="mailto:allan.steven.pm@gmail.com" title=""> &#128233; allan.steven.pm@gmail.com </a>
          </li> 
          <li>
            <a href="https://linkedin.com/in/Allan-Perez" title="allanperez"> LinkedIn </a>
          </li>
        </ul>
      </div>
    {% endif %}

  </body>
</html>
